.hero-section {
  display: flex;
  justify-content: center;
  align-items: center; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  padding: 3rem;
  font-family: "Lato", sans-serif;
  color: #777; }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(3rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-3rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.pri-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 8rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  color: transparent;
  background-clip: text;
  transition: all 0.2s ease-in-out; }
  .pri-heading:hover, .pri-heading:focus, .pri-heading:active {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.sec-heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 2rem; }

.para {
  font-size: 1.6rem;
  margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 3rem;
  text-decoration: none;
  border-radius: 10rem;
  border: 0px;
  cursor: pointer;
  font-size: 1.6rem;
  transition: all 0.4s ease-in-out;
  position: relative; }

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s ease-in-out; }

.btn-white {
  color: #777;
  background-color: #fff; }
  .btn-white::after {
    background-color: #fff; }

.btn-green {
  color: #fff;
  background-color: #55c57a; }
  .btn-green::after {
    background-color: #55c57a; }

.btn:hover {
  transform: translateY(-3px); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.6);
    opacity: 0; }

.btn-text {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  border-bottom: 1px solid !important;
  padding: 3px !important;
  border-radius: 0px !important;
  text-transform: capitalize; }
  .btn-text:hover, .btn-text:active, .btn-text:focus {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 10rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative; }
  .composition-img {
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all .2s ease-in-out;
    outline-offset: 2rem; }
    .composition-img:nth-child(1) {
      left: 0;
      top: -2rem; }
    .composition-img:nth-child(2) {
      right: 0;
      top: 2rem; }
    .composition-img:nth-child(3) {
      left: 20%;
      top: 10rem; }
    .composition-img:hover {
      transform: scale(1.1);
      outline: 1.5rem solid #55c57a;
      z-index: 10; }
  .composition:hover .composition-img:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2.5rem;
  border-radius: 3px;
  transition: all .4s ease-in-out; }
  .feature-box:hover, .feature-box:focus, .feature-box:active {
    transform: translateY(-1.5rem) scale(1.05); }
  .feature-box > i {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline-block;
    color: transparent;
    background-clip: text; }

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

[class^="col-"] {
  padding: 0 15px; }

.col-3 {
  flex: 0 0 calc((100% * 3) / 12); }

.col-6 {
  flex: 0 0 calc((100% * 6) / 12); }

.col-12 {
  flex: 0 0 100%; }

.hero-section {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); }
  .hero-section .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .hero-section .logo-box .logo {
      width: 7rem;
      display: inline-block; }
      .hero-section .logo-box .logo img {
        width: 100%; }
  .hero-section .hero-heading {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5rem; }
    .hero-section .hero-heading-main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3rem;
      animation: moveInLeft 1s ease-in-out; }
    .hero-section .hero-heading-sub {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.5rem;
      animation: moveInRight  1s ease-in-out; }

.section-about {
  padding: 30rem 0;
  background-color: #f7f7f7;
  margin-top: -27.5rem; }

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  transform: skewY(-7deg);
  margin-top: -12.5rem; }
  .section-feature > * {
    transform: skewY(7deg); }
