.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  padding: 3rem;
  font-family: "Lato", sans-serif;
  color: #777;
}

@-webkit-keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes moveInRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveInRight {
  0% {
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 3rem;
  text-decoration: none;
  border-radius: 10rem;
  border: 0px;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-white {
  color: #777;
  background-color: #fff;
}
.btn-white::after {
  background-color: #fff;
}
.btn-green {
  color: #fff;
  background-color: #55c57a;
}
.btn-green::after {
  background-color: #55c57a;
}
.btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.btn:hover::after {
  -webkit-transform: scaleX(1.3) scaleY(1.6);
          transform: scaleX(1.3) scaleY(1.6);
  opacity: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.hero-section {
  position: relative;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../images/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}
.hero-section .logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.hero-section .logo-box .logo {
  width: 7rem;
  display: inline-block;
}
.hero-section .logo-box .logo img {
  width: 100%;
}
.hero-section .hero-heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.hero-section .hero-heading-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}
.hero-section .hero-heading-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
}