.composition {
    position: relative;
  &-img {
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba($color-dark, 0.2);
    position: absolute;
    transition: all .2s ease-in-out;
    outline-offset: 2rem;
    &:nth-child(1){
       left: 0;
       top: -2rem;
    }
    &:nth-child(2){
        right: 0;
        top: 2rem;
     }
     &:nth-child(3){
        left: 20%;
        top: 10rem;
     }

     &:hover{
        transform: scale(1.1);
        outline: 1.5rem solid $color-primary;
        z-index: 10;
     }
  }

  &:hover &-img:not(:hover){
    transform: scale(.9);
}
}
